@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
	padding: 0;
	margin: 0;
}

#thanksMessage {
	opacity: 0; /* Inicialmente oculto */
	transition: opacity 0.5s; /* Transición de opacidad */
}
body{
	width: 100vw;
	height: 100vh;
	display: flex;
	font-family: sans-serif;
	background-image: url('/rosas3.gif');
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	font-size: 500%;
	margin: auto;
	color: black;
	text-align: center;
	font-family: 'Lobster', cursive; /* Utiliza Lobster como la fuente principal */
}
.button{
	position: absolute;
	top:60%;
	transform: translateY(-50%);
	text-decoration: none;
	background-color: #FFC0CB; /* Rosa pastel */
	color: white; /* Texto blanco */
	padding: 20px;
	border-radius: 50%;
}
#Si{
	left: 20%;
	transform: translateY(-50%)translateX(-20%);
}
#No{
	left: 80%;
	transform: translateY(-50%)translateX(-80%);
}
@media only screen and (max-width: 767px) {
	/* Estilos específicos para móvil */
	h1{
		margin: 50% 10%;
		color: #FFC0CB;
	}
}
