@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
	padding: 0;
	margin: 0;
}

#thanksMessage {
	opacity: 0; /* Inicialmente oculto */
	transition: opacity 0.5s; /* Transición de opacidad */
}
body{
	width: 100vw;
	height: 100vh;
	display: flex;
	font-family: sans-serif;
	background-image: url('/rosas3.gif');
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	margin: 40% 10%;
	color: #ffdbe1;
	font-size: 85px;
	margin: auto;
	text-align: center;
	font-family: 'Lobster', cursive; /* Utiliza Lobster como la fuente principal */
}
.button{
	position: absolute;
	top:70%;
	transform: translateY(-50%);
	text-decoration: none;
	background-color: #FFC0CB; /* Rosa pastel */
	color: white; /* Texto blanco */
	padding: 40px;
	border-radius: 50%;
	font-size: 50px;
}
#Si{
	left: 20%;
	transform: translateY(-50%)translateX(-20%);
}
#No{
	left: 80%;
	transform: translateY(-50%)translateX(-80%);
}

/* Estilos para tableta (768px a 1023px de ancho) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	/* Estilos específicos para tableta */
	h1{
		margin: auto;
	}
  }
  
  /* Estilos para escritorio (1024px en adelante de ancho) */
  @media only screen and (min-width: 1024px) {
	/* Estilos específicos para escritorio */
	h1{
		margin: auto;
	}
  }